<p>
<%= link_to "New Article", new_article_path %>
</p>
<% @articles.each do |article| %>
    <%= article.article_title %> | <%= link_to "Edit", edit_article_path(article) %>

    <% if article.groups.any? %>
    Group:
      <% article.groups.each do |group| %>
        <%= group.group_name %>
      <% end %>
    <% end %>
    <br>
<% end %>
