<h1> Post Index</h1>

<% @posts.each do |post| %>
    <%= link_to post.user.username, user_path(post.user) %> | <%= link_to post.title, post_path(post) %> | <%= link_to "EDIT", edit_post_path(post) %><br>
<% end %>

<p>
    <%= link_to "Create New Post", new_post_path %>
</p>